body {
    margin: 0px;
    text-align: center;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    /* font-family: 'Acme', sans-serif; */
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bolder;
}

div {
    /* padding-left: 8px; */
}

h1 {
    font-size: 500%;
    margin: 30px auto 0px;
    font-family: 'Style Script', cursive;
}

h2 {
    font-family: 'Acme', sans-serif;
    font-size: 1.8rem;
    font-weight: 100;
    color: #5ebfbf;
}

h3 {
    font-family: 'Fondamento', cursive;
    color: #5ebfbf;
}

p {
    line-height: 2;
}

hr {
    /*background-color: #dbbfa0;*/
    border-color: #aae4e4;
    border-style: dotted none none;
    /* border-width: 2px; */
    border-top-width: 8px;
    /*height: 10px;*/
    width: 10%;
  }

.top-container {
    background-color: rgb(190, 251, 251);
    /* padding-bottom: 1px; */
    padding-top: 100px;
    position: relative;
}

.my-intro {
    position: relative;
    top: 180px;
    color: #53a2a2;
}

/* .middle-container {
    background-color: #DDDDDD;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.bottom-container {
    background-color: beige;
    height: 200px;
    width: 200px;
    margin: 0 auto;
} */

.top-cloud{
    position: absolute;
    right: 350px;
    top: 230px;
}

.bottom-cloud {
    position: absolute;
    left: 350px;
    bottom: 250px;
}

.mountain {
    position: relative;
    top: 110px;
}

.pro {
    /* text-decoration: underline; */
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: brown;
}

.my-name {
    /* color: black; */
    text-decoration: none;
    font-family: 'Sacramento', cursive;
    color: #53a2a2;
}

.my-name:hover {
    color: #F05454;
}

.skill-1 {
    /* height: 200px; */
    width: 25%;
    float: left;
    margin-right: 30px;
    /* margin: 60px 0px; */
    /* border-radius: 20%; */
}

.skill-2 {
    /* margin: 100px 0px; */
    /* height: 200px; */
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-3 {
    /* margin: 100px 0px; */
    /* height: 200px; */
    width: 25%;
    float: left;
    margin-right: 30px;
    /* border-radius: 100%; */
}

/* .skill-1:hover {
    height: 420px;
    margin: 0px;
}

.skill-2:hover {
    height: 400px;
    margin: 50px 0px;
}

.skill-3:hover {
    height: 420px;
    margin: 40px 0px;
} */

.skill-row {
    margin: 150px auto;
    height: 200px;
    width: 50%;
    text-align: left;
}

/* .coding-skill-description {
    clear: left;
}

.webdev-skill-description {
    clear: right;
}

.foodie-skill-description {
    clear: left;
} */

#my-picture {
    /* padding-top: 15px; */
    margin-top: 35px;
    border-radius: 50%;
    box-shadow: 3px 4px 10px #895d66c6;
    height: 150px;
}