body {
    background-color: #F9F5E7;
    /* text-align: center; */
  }

  hr {
    /*background-color: #dbbfa0;*/
    border-color: #e9d9c7;
    border-style: dotted none none;
    /* border-width: 2px; */
    border-top-width: 8px;
    /*height: 10px;*/
    width: 10%;
  }

  h1 {
      color: #895d66c6;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bolder;
  }

  h3 {
      color: #895d66c6;
      font-family: 'Quintessential', cursive;
  }

  .footerLinks {
    text-align: center;
  }

  .links {
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 5px;
    border: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: #F9F5E7;
  }

  .links:hover {
    background-color: #EDDBC7;
    color: darkred;
    border: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: sienna;
  }

  #Profile-image {
      border-radius: 40%;
      box-shadow: 4px 4px 10px #895d66c6;
  }
